<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            setTimeout(function() {
                $(".alert").fadeOut();
            }, 3000); // 3 segundos
        });
    </script>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Inicio</a>
        {% if 'user_id' in session %}
            <a href="{{ url_for('monitor') }}">Monitor</a>
            <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
        {% else %}
            <a href="{{ url_for('login') }}">Iniciar Sesión</a>
            <a href="{{ url_for('registro') }}">Registrarse</a>
        {% endif %}
    </nav>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert alert-{{ messages[0][0] }}">{{ messages[0][1] }}</div>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>

